<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chapters</key>
	<array>
		<string>Chapter 1 - Login Page.playgroundchapter</string>
		<string>Chapter 2 - Dashboard.playgroundchapter</string>
	</array>
	<key>ContentIdentifier</key>
	<string>com.kickinbahkproductions.playgroundBookTest</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>ImageReference</key>
	<string>Monks-save-lobsters.jpg</string>
	<key>Name</key>
	<string>Playground Book Test</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
